.leaflet-container {
    width: 100%;
    height: 100vh;
} 
.left__nav{
  width: 20%;
  height: 100vh;
  background-color: beige;
  float: left;
  overflow-y: scroll;
}
.map__com{
  float: right;
  width: 80%;
  height: 100vh;
}